<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
	
	var isEdit = false;
	var edit_id;
		$.ajax({
        url: "http://localhost:8080/getAll"
    }).then(function(data) {
		

                        
		 $.each(data, function(i, item) {
         var row = '<tr>' +
            '<td>'+data[i].name+'</td>' +
            '<td>'+data[i].quantity+'</td>' +
            '<td>'+data[i].seed+'</td>' +
           '<td>' + '<a title="Edit" class="edit" id='+data[i].id+'> <i class="glyphicon glyphicon-edit text-primary"></i> </a><a title="Delete" class="delete" id='+data[i].id+'> <i class="glyphicon glyphicon-trash text-danger"></i> </a>'; + '</td>' +
        '</tr>';
    	$("table").append(row);		
		//$("table tbody tr").eq(index + 1).find(".add, .edit").toggle();
        //$('[data-toggle="tooltip"]').tooltip();
         });
    });
    
    
  $("#btn-save").click(function(){
    var name = $("#fruit-name").val();
    var quanity = $("#quantity").val();
    
    if(document.getElementById('seed-status-0').checked) {
		seed = true;
	}else {
		seed = false;
	}
    
	var jsonStr = JSON.stringify({"name": name, "quantity": quanity, "seed": seed });
	
	if(isEdit){
			 $.ajax({
   				 url: "http://localhost:8080/replace/"+edit_id,
    			type: "PUT",
    			data: jsonStr,
    			dataType:'json',
    			contentType: "application/json; charset=utf-8",
    			success: function (response) {
        			console.log(response);
        			isEdit = false;
        			location.reload();
    			},
    			error: function(error){
        			console.log("Something went wrong", error);
    			}
    		});
    		
	}else{
	 $.ajax({
    url: "http://localhost:8080/create",
    type: "POST",
    data: jsonStr,
    dataType:'json',
    contentType: "application/json; charset=utf-8",
    success: function (response) {
        console.log(response);
        location.reload();
    },
    error: function(error){
        console.log("Something went wrong", error);
    }
});
}

  });
  
    $(document).on("click", ".edit", function(){
		var name = $(this).parents("tr").find("td:eq(0)").html();
    	var quantity = $(this).parents("tr").find("td:eq(1)").html();
    	var seed = $(this).parents("tr").find("td:eq(2)").html();
    	
    	isEdit = true;
    	edit_id = $(this).attr('id');
    	
    	$("#fruit-name").val(name);
    	$("#quantity").val(quantity);
    	$("[name='seed-status']").val(seed);
    	
	});
	
  	$(document).on("click", ".delete", function(){
	var fruitsId = $(this).attr('id');
     $.ajax({
        type : 'DELETE',
        contentType: "application/json",
        url : "http://localhost:8080/remove/"+fruitsId,
        dataType : 'json',
        success: function (result) {       
               console.log(result);
               location.reload();        
        },
        error: function (e) {
            console.log(e);
        }
   });
	});
});
</script>


<div class="container">
	<div class="row">
	    
<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">



<!-- FORM  -->	    
	   <div class="col-md-12">
	       
	    <form class="form-horizontal" id="form-edit-fruits">
<fieldset>

<!-- Form Name -->
<legend>Fruits</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="client-name">Name</label>  
  <div class="col-md-4">
  <input id="fruit-name" name="fruit-name" type="text" placeholder="Fruit name" class="form-control input-md">
  <span class="help-block">Name</span>  
  </div>
</div>

<!-- Prepended text-->
<div class="form-group">
  <label class="col-md-4 control-label" for="client-email">Quantity</label>
  <div class="col-md-4">
    <div class="input-group">
  <input id="quantity" name="quantity" type="text" placeholder="Quantity" class="form-control input-md">
    </div>
    <p class="help-block">Quantity of fruits</p>
  </div>
</div>



<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="client-status">Seed status</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="client-status-0">
      <input type="radio" name="seed-status" id="seed-status-0" value="active" checked="checked">
      Active
    </label>
	</div>
  <div class="radio">
    <label for="client-status-1">
      <input type="radio" name="seed-status" id="seed-status-1" value="inactive">
      Inactive
    </label>
	</div>
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="btn-save"></label>
  <div class="col-md-4">
    <button id="btn-save" name="btn-save" class="btn btn-success">Save</button>
  </div>
</div>

</fieldset>
</form>


	   </div> 
	    



<!-- LIST -->
<div class=col-md-12>
    
    <form id="form-list-client">
            <legend>List of fruits</legend>
    

    <table class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <td>Name</td>
                <th>Quantity</th>
                <th>Seed Status</th>
                <th>Actions</th>
            </tr>
                
        </thead>
        <tbody id="form-list-fruit-body">
        </tbody>
    </table>
    </form>

    
</div>


<br> 
	    
	    
	</div>
</div>
